dlp/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="test.xsd">
    <xs:element name="bestellung" type="bestellungType"/>
    <xs:complexType name="leistungType">
        <xs:sequence>
            <xs:element type="xs:string" name="id"/>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="menge"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="bestellungType">
        <xs:sequence>
            <xs:element type="positionType" name="position"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id"/>
    </xs:complexType>
    <xs:complexType name="positionType">
        <xs:sequence>
            <xs:element type="xs:string" name="id"/>
            <xs:element type="lebType" name="leb"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="leistungenType">
        <xs:sequence>
            <xs:element type="leistungType" name="leistung"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="lebType">
        <xs:sequence>
            <xs:element type="xs:string" name="id"/>
            <xs:element type="leistungenType" name="leistungen"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>